form {
  display: flex;
  margin-block: 2em;
}

input {
  padding: 0.5em;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid #ccc;
  margin-right: 0.5em;
  font-size: 1rem;
  flex-grow: 1;
}

input:focus {
  border: 2px solid rgb(109, 109, 109);
}
.send-btn {
  background-color: rgb(25, 135, 84);
  color: white;
}

.clear-btn {
  margin-left: 0.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  color: red;
}
